


/* Set the default page element styles */

body {
   margin: 0px auto;
   width: 1000px;
   background-color: rgb(255, 237, 176);
}

body * {
   font-family: Verdana, Geneva, sans-serif;
   font-size: 100%;
   font-weight: inherit;
   line-height: 1.2em;
   margin: 0px;
   padding: 0px;
   text-decoration: none;
   vertical-align: baseline;

}

/* Header styles */
   
header {
   position: relative;
   width: 100%;
   background-color: rgb(206, 167, 62);
}

header img{
   width: 100%;
   height: 250px;
}
h1{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: red;
}
/* Navigation lists */
nav.horizontal {
   width: 100%;
   position: relative;
   top: -50px;
}

nav.horizontal ul {
   margin: 0px;
}

nav.horizontal ul li {
   display: block;
   float: left;
   height: 50px;
   width: 20%;
}

nav.horizontal ul li a {
   background-color: rgb(186, 31, 37);
   display: block;
   font-family: 'Trebuchet MS', Helvetica, sans-serif;
   line-height: 50px;
   color: rgb(231, 231, 231);
   color: rgba(255, 255, 255, 0.7);
   text-align: center;
   text-shadow: black 2px 1px 0px;
   font-size: 1em;
   outline: 1px solid black;
}

nav.horizontal ul li a:hover {
   color: rgb(255, 255, 255);
   color: rgba(255, 255, 255, 1);
}

nav.vertical {
	width: 200px;
	border : solid 1px red;
	margin-top: 30px;
	 float: left;
}
nav.vertical ul li {
padding-left:13px;
list-style-type: none;
text-align: left;
}

nav.vertical ul li a {
   font-family: 'Trebuchet MS', Helvetica, sans-serif;
   line-height: 50px;
   color: rgb(186, 31, 37);
   color: rgba(186, 31, 37, 0.7);
   text-align: center;
   text-shadow: orange 1px 1px 0px;
   font-size: 1em;
}

nav.vertical ul li a:hover {
   color: rgb(255, 255, 255);
   color: rgba(255, 255, 255, 1);
}

.middlePart{
margin-top: 30px;
text-align: center;
}

#image{
margin-left: 180px;
margin-top: 30px;
}

#ctlList{
	list-style-type: none;
	/*visibility:hidden;*/
}
#ctl{
margin-left: 350px;
margin-top: 50px;
}

footer {
   clear: left;
   display: block;
   height: 100px;
   font-size: 0px;
}



